.container {
  max-width: 5xl;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

@media (min-width: 768px) {
  .cardGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .cardGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cardWrapper {
  margin: 16px;
}

.button {
  margin-top: 2px;
  background-color: #008000;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: #006400;
}

.formContainer {
  margin-top: 8px;
  padding: 16px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.formInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.formSelect {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
